<h1>"My Jupyter Notebook on IBM Watson Studio"</h1>

<b>Mahfuja Ferdousi Mahin</b><br>
My desired Occupation is "Data Scientist" and "Researcher"

<i>Data science allows me to try various ideas using scientific methods. Moreover, I have always liked working on math problems but find doing so in a theoretical fashion somehow limiting. Applying mathematical reasoning to real-world problems is very satisfying. Finally, the data science field is growing rapidly and there is always new things to learn. This is something that I enjoy a lot as well: learning new content and sharing my knowledge with others.</i>

<h3>I will put if-else condition in Cell-5. If the input is equal to 1 then it will print "It's one". If the input is equal to 5 then it will print "It's five". Otherwise it will print "Not Valid!". I'm just doing a simple code.</h3>

In [1]:
inp = int(input("Enter your number: "))

if inp == 1:
    print("It's One!")
elif inp == 5:
    print("It's five")
else:
    print("Not Valid!")

Enter your number: 5
It's five

<ol>
    <li>A</li>
    <li>B</li>
    <li>C</li>
</ol>
<hr>
<ul>
    <li>D</li>
    <li>E</li>
    <li>F</li>
</ul>
<hr>
<table style="width:50%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Mahfuja</td>
    <td>Mahin</td>
    <td>21</td>
  </tr>
  <tr>
    <td>Mehjabin</td>
    <td>Nahin</td>
    <td>16</td>
  </tr>
</table>